header{
  background-image: url('../images/banner.jpg');
x  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}
.flex{
  display: flex;
}
.name::before,
.name::after{
  content: "";
  width: 100%;
  margin: 10px;
  background-size: red;
  z-index: 1000;
  height: 1px;
}
