*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
header{
  background-image: url('../images/banner.jpg');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}
.container-fluid{
  width: 100%;
  margin: 0;
  padding: 0;
}
.text-bold{
  font-weight: bold;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.height{
  height: 90vh;
}
.name{
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 7px;
}
