*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
header{
  background-image: url('../images/banner.jpg');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}
.container-fluid{
  width: 100%;
  margin: 0;
  padding: 0;
}
.text-bold{
  font-weight: bold;
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}
.box1{
  line-height: 5;
  height: 90vh;
}
.name{
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 7px;
}
.footer{
  background-image: url('../images/banner.jpg');
  background-position:center;
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social{
  background: rgba(62, 61, 64, 0.9);
  height: 50vh;
  background-position: center;
}
.social a{
  margin: 10px;
  color: white;
}
